<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sanity.Data.Properties.Settings.sanityConnectionString"
            connectionString="Data Source=ss-mac\sqlexpress;Initial Catalog=sanity;Persist Security Info=True;User ID=sanity;Password=sanity"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>